  <footer class="primary-footer | padding-block-700 bg-neutral-900 text-accent-100">
    <div class="container text-center">
      <div class="primary-footer-wrapper">
          <div class="primary-footer-sponsor">
            <ul class="" aria-label="Footer" role="list">
              <li class="fw-bold margin-bottom-100">Sponsored By:</li>
              <li>Thales</li>
              <li>Complex Engineering Systems</li>
              <li class="fw-bold margin-top-100 margin-bottom-100">Web Design:</li>
              <li>S.D. King and Co</li>
            </ul>
          </div>
          <div class="primary-footer-contact">
            <ul aria-label="Footer" role="list">
              <li class="fw-bold margin-bottom-100">General Questions</li>
              <li>samking7185@gmail.com</li>
              <li class="fw-bold margin-top-100 margin-bottom-100">Coding Questions</li>
              <li>pickerln@mail.uc.edu</li>
              <li class="fw-bold margin-top-100 margin-bottom-100">Website Questions</li>
              <li>samking7185@gmail.com</li>
            </ul>
          </div>
          <div class="primary-footer-nav">
            <nav class="footer-nav">
              <ul class="" aria-label="Footer" role="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="rules.html">Rules</a></li>
                <li><a href="FAQ.html">FAQs Us</a></li>
                <li><a href="seminars.html">Seminars</a></li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </footer>