<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/ico" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles/styles.css">
</head>

<body class="bg-neutral-100">
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <script type="module" src="main.js"></script>
</body>
</html>